workflows/rag telegrambot.json
[{"updatedAt":"2026-07-06T10:07:16.116Z","createdAt":"2026-07-06T06:52:08.546Z","id":"bdoNQHUF1BbvluPn","name":"telegram bot","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.3,"position":[-320,0],"id":"2db0e0ed-680e-4198-8ffd-d883e499f8ab","name":"Telegram Trigger","webhookId":"d1e8952e-ff56-435b-b8bd-67478353f007","credentials":{"telegramApi":{"id":"LQoxSlT9L1iII08z","name":"Telegram account"}}},{"parameters":{"inputText":"={{ $json.message.text }}","categories":{"categories":[{"category":"db","description":"any question message"},{"category":"other","description":"=non question message"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[-96,0],"id":"4ceadbac-55de-44ae-9a6d-c4e84c815d84","name":"Text Classifier"},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"=# Overview\nYou are a customer support agent for Tech Haven. Your job is to respond to\nincoming emails with relevant information using your knowledgeBase tool.\n\n## Instructions\n- Your output should be friendly and use emojis\n- Sign off as Mr. Helpful from Tech Haven Solutions\n\n## Output\n- Output only the body content of the email as a reply"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[400,-128],"id":"cbaba78f-da7c-46f5-ab65-d03481979853","name":"AI Agent"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Call this tool to access information","pineconeIndex":{"__rl":true,"value":"demo2","mode":"list","cachedResultName":"demo2"},"options":{"pineconeNamespace":"=demo3"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[528,80],"id":"c56a2810-909e-40d7-83bb-687c283e0520","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"6b30EcBzzVNK7cBK","name":"demo2"}}},{"parameters":{"modelName":"models/gemini-embedding-2"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[464,208],"id":"0d402345-65a6-4585-81ce-163625eff922","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"pxuIjaxgV4do1aQ8","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"promptType":"define","text":"={{ $('Telegram Trigger').item.json.message.text }}","options":{"systemMessage":"=# Overview\nYou are a customer support agent for Tech Haven. Your job is to respond to\nincoming messages as human reply in friendly manner\n\n## Instructions\n- Your output should be friendly and use emojis\n\n## Output\n- Output only the body content of the telegram mesaage as a reply"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[384,400],"id":"5bcc2113-fe79-4e86-ae93-01c71d7a9861","name":"AI Agent1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1.1,"position":[304,704],"id":"fbee6aed-d9af-4ec4-b24e-01fa9512011e","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"pxuIjaxgV4do1aQ8","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1120,224],"id":"06876fa2-8ff9-4029-9a59-4b1cad1ddffe","name":"Send a text message","webhookId":"9c934a3f-9feb-412c-8cf1-38e42e8fdfae","credentials":{"telegramApi":{"id":"LQoxSlT9L1iII08z","name":"Telegram account"}}},{"parameters":{"model":"openai/gpt-4o-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-112,176],"id":"f7a73b7c-5880-4f14-9907-8405bfff1952","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"C6MtYEwW95Z2EAaS","name":"OpenRouter account"}}},{"parameters":{"model":"anthropic/claude-3-haiku","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[336,64],"id":"1ab6c897-06ee-4763-8aad-13e4b879eaf1","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"C6MtYEwW95Z2EAaS","name":"OpenRouter account"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"AI Agent1","type":"main","index":0}]]},"Pinecone Vector Store":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"1a8cf8b3-243f-42f5-8222-6eea76b99f7a","activeVersionId":"1a8cf8b3-243f-42f5-8222-6eea76b99f7a","versionCounter":115,"triggerCount":1,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-07-06T06:52:08.554Z","createdAt":"2026-07-06T06:52:08.554Z","role":"workflow:owner","workflowId":"bdoNQHUF1BbvluPn","projectId":"t17di3JFCYVvIw2a","project":{"updatedAt":"2026-06-30T11:39:13.430Z","createdAt":"2026-06-30T11:37:44.790Z","id":"t17di3JFCYVvIw2a","name":"Ridham Singhal <singhal2003yash@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"dcc5d8b2-44ee-4774-9f85-9a9898d1e446"}}],"versionMetadata":{"name":"Version 1a8cf8b3","description":""}}]
