workflows/rag drive.json
[{"updatedAt":"2026-07-06T12:09:21.438Z","createdAt":"2026-07-04T11:48:20.751Z","id":"sqIv8ojHqmNzavNw","name":"rag drive","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1DSduaqwZZrawPtPib2lcBxycWj-z0HHv","mode":"list","cachedResultName":"smth","cachedResultUrl":"https://drive.google.com/drive/folders/1DSduaqwZZrawPtPib2lcBxycWj-z0HHv"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-160,0],"id":"3593da4b-cf0c-46b7-9298-10a9005c5990","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"B2hx9hPsutV3tkgV","name":"Google Drive account 2"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[144,0],"id":"968dd88e-74ee-4a97-8b51-4aac89d40e6c","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"B2hx9hPsutV3tkgV","name":"Google Drive account 2"}}},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"demo2","mode":"list","cachedResultName":"demo2"},"options":{"pineconeNamespace":"demo3"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[432,0],"id":"b6e9595d-e84f-49d5-a7be-9cf2b1bdc5c7","name":"Pinecone Vector Store","notesInFlow":false,"credentials":{"pineconeApi":{"id":"6b30EcBzzVNK7cBK","name":"demo2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[368,-624],"id":"00a8d875-a961-40b1-8cec-0135f8d408d1","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[112,-560],"id":"dde830ff-6f19-4fca-893d-309964748a00","name":"When chat message received","webhookId":"0639f4f8-a95f-4a69-96b8-c07d0636198f"},{"parameters":{"model":"anthropic/claude-3-haiku","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[336,-384],"id":"4dae4172-4a0f-485a-9d73-4143dea8e691","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"C6MtYEwW95Z2EAaS","name":"OpenRouter account"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"call this tool to access demo2 database","pineconeIndex":{"__rl":true,"value":"demo2","mode":"list","cachedResultName":"demo2"},"options":{"pineconeNamespace":""}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[720,-480],"id":"ba08ac99-67e6-42e4-b6ed-0216d74ddb8f","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"6b30EcBzzVNK7cBK","name":"demo2"}}},{"parameters":{"modelName":"models/gemini-embedding-2"},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[704,-320],"id":"8d723125-4ea7-456f-a9b0-bc045b2df64f","name":"Embeddings Google Gemini1","credentials":{"googlePalmApi":{"id":"pxuIjaxgV4do1aQ8","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"content":"rag drive\n","color":5},"type":"n8n-nodes-base.stickyNote","position":[352,-992],"typeVersion":1,"id":"7c421a39-0dbe-4445-98b7-c9a91fc3fefa","name":"Sticky Note"},{"parameters":{"dataType":"binary","textSplittingMode":"custom","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[576,208],"id":"4b8a1491-9fce-4e1b-859b-66568620d8c5","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[672,416],"id":"3f545386-6d63-42ef-8806-64be63cb675d","name":"Recursive Character Text Splitter"},{"parameters":{"modelName":"models/gemini-embedding-2","options":{}},"type":"n8n-nodes-google-gemini-embeddings-extended.embeddingsGoogleGeminiExtended","typeVersion":1,"position":[320,224],"id":"1fe16238-344c-4782-aa1b-7825cf3d3130","name":"Embeddings Google Gemini Extended","credentials":{"googlePalmApi":{"id":"pxuIjaxgV4do1aQ8","name":"Google Gemini(PaLM) Api account 2"}}}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Pinecone Vector Store":{"main":[[]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings Google Gemini1":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings Google Gemini Extended":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":{"node:Google Drive Trigger":{"lastTimeChecked":"2026-07-06T12:09:23Z"}},"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"3ca510b8-6b2b-4ed7-bac1-6713b583d743","activeVersionId":"3ca510b8-6b2b-4ed7-bac1-6713b583d743","versionCounter":122,"triggerCount":2,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-07-04T11:48:20.757Z","createdAt":"2026-07-04T11:48:20.757Z","role":"workflow:owner","workflowId":"sqIv8ojHqmNzavNw","projectId":"t17di3JFCYVvIw2a","project":{"updatedAt":"2026-06-30T11:39:13.430Z","createdAt":"2026-06-30T11:37:44.790Z","id":"t17di3JFCYVvIw2a","name":"Ridham Singhal <singhal2003yash@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"dcc5d8b2-44ee-4774-9f85-9a9898d1e446"}}],"versionMetadata":{"name":"Version 3ca510b8","description":""}}]
